.App {
  text-align: center;
}

#start-over {
  display: block;
  font-size: 2em;
  background-color: darkgoldenrod;
  cursor: pointer;
  border: 2px solid black;
  font-family: 
    "Times New Roman", 
    Times,
    serif;
}

#finish{
  display: block;
  font-size: 4em;
  background-color: darkgoldenrod;
  cursor: pointer;
  border: 2px solid black;
  font-family: 
    "Times New Roman", 
    Times,
    serif;
}